.FormContainer {
    margin: 30px;
    width: 420px;
    text-align: start;
}

#welcomeTag {
    color: grey;
}

lable {
    
    text-align: start;
}

.InputField {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;

    
}

#lastElement {
    display: block;
  padding-left: 15px;
  text-indent: -15px;
}

img{
    height: 20px;
    width: 20px;
    margin: 10px;
}

.socialLogin {
    width: 450px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#googleLoginBtn {
    padding: 3px;
    border: 0.2px solid #E5E5E5;
    border-radius: 5PX;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#FbLoginBtn {
    padding: 3px;
    border: 0.2px solid #E5E5E5;
    border-radius: 5PX;
    display: flex;
    align-items: center;
}

.submitBtn {
    background-color: #4267B2;
    border: none;
    color: white;
    width: 420px;
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#switchAcc {
    text-align: center;
}

#check {

    width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 5;
  vertical-align: bottom;
  position: relative;
  top: 1px;
}

