
.mainBox {
    display: flex;
    justify-content: center;
}

.gameContainer {
    position: absolute;
    margin: 0;
    padding: 0;
    margin: 30px;
    margin-top: 50px;
}


.Btn {
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 3px 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}

.btnRow{
    display: flex;
}

.startAgain {
    background-color: green;
    color: white;
    width: 120px;
    height: 30px;
    margin: 0px 0px 20px 20px;
}

