.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5%;
    background-color: black;
}

.NavTabs {
    display: flex;
    gap: 20px;
}

.Navbar li {
    padding-left: 20px;
  list-style-type: none;
}

.link {
    color: white;
}

.logo {
    width: 2em;
    height: 2em;
}


.profileIcon {
    width: 2em;
    height: 2em;
    background-color: black;
    
}