.formContent {
  display: flex;
  gap: 2%;
}

.tableBox {
  margin-top: 50px;
}

.mainBox {
  padding: 2%;
}

.nameInput {
  width: 20%;
  padding: 5px;
  font-size: 18px;
}

.dropdown {
  height: 25px;
  width: 120px;
}

.qtyInput {
  /* width: 20%; */
  padding: 5px;
  font-size: 12px;
}

.Btn {
  height: 30px;
  margin-right: 20px;
  /* width: 50px; */
}
