.mainBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputPanel {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid; */
}

input {
  height: 2rem;
  width: 20rem;
  text-align: center;
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pxlInput {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  color: black;
}
#remInput {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  color: #4594ff;
}
